* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgb(252, 252, 252);
}

/* CSS Position + z-index */
.header {
    background-color: #0a161c;
    color: white;
    padding: 2px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

.product-card img {
    width: 60%;
    border: 2px solid #000000;
}

/* Max Width + Box Model */
.container {
    max-width: 900px;
    margin: 50px auto;
    border: 10px solid #010102;
    padding: 15px;
    background-color: rgb(253, 255, 254);
}

/* CSS Display + Box Model + Position */
.product-card {
    display: inline-block;
    width: 250px;
    height: 300px;
    margin: 5px;
    padding: 8px;
    border: 2px solid #dddddd;
    background-color: #fafafa;
    vertical-align: top;
    position: relative;
}

/* CSS Position + z-index */
.badge {
    background-color: red;
    color: white;
    padding: 5px 8px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}

.price {
    font-weight: bold;
    color: rgb(24, 13, 226);
    font-size:larger;
}


