<!DOCTYPE html>
<html>
<head>
    <title>Product Showcase Page</title>
    <link rel="stylesheet" href="../CSS/style.css">
</head>
<body>
    <header class="header">
        <h1>Product Showcase</h1>
    </header>

    <div class="container">
        <h2>Our Products</h2>

        <div class="product-card">
            <span class="badge">New</span>
            <img src="../Img/wireless img.jpg">
            <h3>Wireless Mouse</h3>
            <p class="price">$10</p>
            <button>Buy Now</button>
        </div>
        <div class="product-card">
            <span class="badge">Sale</span>
            <img src="../Img/keyboard.jpg" >
            <h3>Keyboard</h3>
            <p class="price">$15</p>
            <button>Buy Now</button>
        </div>
        <div class="product-card">
            <span class="badge">Best</span>
            <img src="../Img/headphone.jpg">
            <h3>Headphone</h3>
            <p class="price">$20</p>
            <button>Buy Now</button>
        </div>
        
    </div>
</body>
</html>
